<div class="app-tabset">
  <ul class="nav nav-tab-set">
    <button class="tab-left-btn" (click)="toggleNavigation()">
      <i class="fa fa-bars"></i>
    </button>
    <button class="tab-left-btn tab-left-btn-second" (click)="seeLeftTabs()">
      <i class="fa fa-backward"></i>
    </button>

    <div class="long-nav">
      <div class="router-tabs" [style.margin-left.px]="tabMarginLeft">
        <li *ngFor="let tab of tabItems;let i = index" [ngClass]="{active: tab.active}" (click)="setActiveItem(tab)">
          <a href="javascript:;" class="tab-set-a"> <i *ngIf="tab.icon" [ngClass]="tab.icon"></i>
            {{tab.header}}
            <i class="fa fa-times-circle" (click)="delTabs(i)" *ngIf="i != 0"></i>
          </a>
        </li>
      </div>
    </div>


    <div class="nav-right">
      <button class="roll-nav roll-right J_tabRight" (click)="seeRightTabs()"><i class="fa fa-forward"></i></button><button
      class="dropdown J_tabClose" data-toggle="dropdown" (click)="showDropDown()">关闭操作<span class="caret"></span></button><button
      class="roll-nav roll-right J_tabExit" (click)="logout()"><i class="fa fa fa-sign-out"></i> {{logoutText}}</button>

        <ul class="dropdown-menu-tab dropdown-menu-right" *ngIf="dropdownTab">
          <li class="J_tabShowActive" (click)="getCurrent()">
            <a>定位当前选项卡</a>
          </li>
          <li class="divider"></li>
          <li class="J_tabCloseAll" (click)="closeAll()">
            <a>关闭全部选项卡</a>
          </li>
          <li class="J_tabCloseOther" (click)="closeOther()">
            <a>关闭其他选项卡</a>
          </li>
        </ul>

    </div>

  </ul>

  <div class="tab-content layout-tab-content">
    <ng-content></ng-content>
  </div>
</div>