/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

//.ui-gro


.login-tab{

  border-radius: 4px;

  .ui-tabview{
    padding: 0;
    border-radius: 4px;
  }

  .ui-tabview-nav {
    padding: 0!important;
    border: none!important;
  }

  .ui-state-default {
    width: 50%;
    border: none;
    margin-right: 0!important;
    top: 0!important;
    height: 60px;
    line-height: 60px;
    background: #f3f3f4!important;

    a {
      width: 100%;
      text-align: center!important;
      padding: 0!important;
      font-size: 18px!important;
      color: #a7b1c1;
      font-weight: 300;
      border-radius: 4px;
    }
  }

  .ui-state-default:first-child {
    border-top-left-radius: 4px!important;
  }

  .ui-state-default:last-child {
    border-top-right-radius: 4px!important;
  }

  .ui-state-default:hover {
    background: #E6E6E6!important;
    color: #a7b1c1;
  }

  .ui-state-active:hover {
    background: #fff!important;
  }

  .ui-state-active {
    background: #fff!important;
    a {
      color: #555555!important;
    }
  }
}