<body class="gray-bg">

<p-growl [(value)]="msgs" [life]="3000"></p-growl>

<div class="middle-box text-center loginscreen animated fadeInDownBig">
  <div class="fadeInDownBig">
    <h3><strong>趣编程</strong> | 让学习成为一种乐趣</h3>
    <div class="tab-form login-tab">
      <p-tabView>
        <p-tabPanel header="快速登录">
          <form class="m-t login-form" #mobileForm="ngForm" (ngSubmit)="mobileForm.form.valid && doMobileCodeLogin()">
            <div class="form-group" style="margin-top: 0" [ngClass]="{'has-error': mobileForm.submitted && !cdMobile.valid}">
              <input type="text" minlength="11"  maxlength="11" class="form-control"  placeholder="请输入手机号"  pattern="^\d+$" required name="mobile" [(ngModel)]="loginMobile.mobile" #cdMobile="ngModel">
              <div *ngIf="mobileForm.submitted && !cdMobile.valid" class="text-danger">手机号格式不正确！</div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': mobileForm.submitted && !sms_code.valid}" style="overflow: hidden;margin-bottom:0">
              <input type="password" class="form-control" placeholder="请输入验证码" required name="sms_code" [(ngModel)]="loginMobile.sms_code" #sms_code="ngModel" style="width: 60%;float: left">
              <button type="button" class="btn valid-btn btn-default block full-width m-b" (click)="getSmsCode(cdMobile.value)" [disabled]="!cdMobile.valid || disabledSmsCode">
                {{smsCode}}
              </button>
              <div *ngIf="mobileForm.submitted && !sms_code.valid" class="text-danger">验证码不能为空！</div>
            </div>
            <div class="form-group" style="padding-bottom: 20px">
              <input type="checkbox" value="true" id="smsRember" class="login-checkbox" name="remeberMe" [(ngModel)]="loginMobile.remeberMe">
              <label style="float: left" for="smsRember" class="rember-label">两周内免登录</label>
              <!-- <a style="float: right">忘记密码？</a> -->
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="mobileForm.form.invalid || disadbledButton">
              {{login}}
            </button>

            <!-- <button type="button" class="btn btn-default block full-width m-b">
              申请注册
            </button> -->
          </form>
        </p-tabPanel>
        <p-tabPanel header="密码登录">
          <form #form="ngForm" (ngSubmit)="form.form.valid && doMobilePasswordLogin()" class="m-t login-form" role="form" novalidate>
            <div class="form-group" style="margin-top: 0" [ngClass]="{'has-error': form.submitted && !mobile.valid}">
              <input required name="mobile" [(ngModel)]="loginPassword.mobile" #mobile="ngModel" type="text"
                     class="form-control" placeholder="请输入手机号">
              <div *ngIf="form.submitted && !mobile.valid" class="text-danger">手机号必须输入！</div>
            </div>
            <div class="form-group" style="margin-top: 15px" [ngClass]="{'has-error': form.submitted && !password.valid}">
              <input required name="password" [(ngModel)]="loginPassword.password" #password="ngModel" type="password" class="form-control" placeholder="请输入密码">
              <div *ngIf="form.submitted && !password.valid" class="text-danger">密码必须输入！</div>
            </div>
            <div class="form-group" style="padding-bottom: 20px">
              <input type="checkbox" value="true" id="passwordRember" class="login-checkbox" name="remeberMe" [(ngModel)]="loginPassword.remeberMe" #remeberMe="ngModel">
              <label style="float: left" for="passwordRember" class="rember-label">两周内免登录</label>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="form.form.invalid || disadbledButton">
              {{login}}
            </button>
          </form>
        </p-tabPanel>
      </p-tabView>
    </div>
    <p class="m-t login-footer">
      <small>奇迹空间（北京）科技有限公司 @ 2018 技术人员选拔赛</small>
    </p>
  </div>
</div>

</body>