.middle-box{
    width: 480px!important;
    padding-top: 60px;
    max-width: 480px;
}
h3{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 200;
}
.logo-contain{
    width: 482px;
    height: 90px;
    text-align: center;
}
.login-title{
    font-size: 30px;
    color: #999c9e;
    margin-top: 10px;
}
.login-form{
    padding-bottom: 30px ;
    margin-top: 0;
    padding-top: 20px;
    min-height: 275px;
}
.tab-form{
    background-color: #ffffff;
}
form{
    width: 70%;
    margin-left: 15%;
}
form input{
    height: 45px;
    border-radius: 4px;
}
.form-button{
    height: 45px;
    border-radius: 4px;
    font-size: 16px;
    width: 70%!important;
    margin: auto;
    margin-bottom: 15px;
}
form button{
    height: 45px;
    border-radius: 4px;
    font-size: 16px;
}
.weixinImg{
    height: 215px;
    padding: 27.5px 0;
}
.login-checkbox{
    float: left;
    height: 20px!important;
    margin-top: -2px;
    margin-right: 10px;
}
.valid-btn{
    width: 37%!important;
    float: right;
    background-color: #2f4045;
    font-size: 14px!important;
    color: #fff;
}
.valid-btn:hover{
    background-color: #2a3438;
}
.valid-btn:focus{
    color: #ffffff;
}
.text-danger{
    text-align: left;
    margin-top: 10px;
}
.has-error:focus{
    border-color: #ff0000!important;
}
#wrapper{
    background-color: #2f4050!important;
}
h2{
    margin: 20px 0 10px 0!important;
}
.ant-cascader-input{
    height: 34px!important;
    border-radius: 0!important;
    border: 1px solid #E5E6E7!important;
    font-size: 14px!important;
    padding-left: 12px!important;
    font-weight: 200!important;
}
.ant-cascader-picker-label{
    font-size: 14px!important;
    padding-left: 12px!important;
    font-weight: normal!important;
    color: #5a5a5a!important;
}
.ant-cascader-input:hover{
    border: 1px solid #E5E6E7!important;
}
.ant-cascader-input span{
    color: #686B6d!important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999!important;
    font-size: 14px!important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999!important;
    font-size: 14px!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999!important;
    font-size: 14px!important;

}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999!important;
    font-size: 14px!important;
}
.ant-cascader-input:focus{
    outline: none!important;
    border: 1px solid #1ab394!important;
    box-shadow: none!important;
}
.ng-tns-c2-0:focus{
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    outline-color: #ffffff!important;
}
.ant-cascader-picker:focus{
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    outline-color: #ffffff!important;
}
.ant-input:focus{
    outline: none!important;
    border: 1px solid #1ab394!important;
}
.ant-cascader-picker:focus .ant-cascader-input {
    border-color: #1ab394!important;
    outline: none!important;
    box-shadow: none!important;
}
.ant-cascader-menu-item:hover{
    background-color: #1e90ff!important;
    color: #ffffff!important;
}
.top-right-button{
    text-align: right;
    padding-top: 30px;
}
.input-label{
    margin-bottom: 8px;
}
.login-footer{
  margin-top: 50px;
}
.rember-label {
    font-weight: 400;
}