<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" style="width:48px;height:48px;" src="assets/images/default_avatar.png">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">姓名<b class="caret" style="margin-left: 5px;"></b></strong></span>
            <!--<span class="text-muted text-xs block"><span *ngIf="admin.roles">{{admin.roles[0].display_name}}</span> </span>-->
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a (click)="gotoRouterTab('/admins/modify-password')">修改密碼</a></li>
            <li class="divider"></li>
            <li><a>退出</a></li>
          </ul>
        </div>
        <div class="logo-element">
          CO+
        </div>
      </li>
      <li>
        <a (click)="gotoRouterTab('/starterview')"><i class="fa fa-home"></i> <span class="nav-label">首頁</span></a>
      </li>
      <li *ngFor="let nav of navigation">
        <a *ngIf="isCacheMenu && nav.admin_permission_node.length > 0">
          <i class="{{nav.icon}}"></i> <span class="nav-label">{{nav.display_name}}</span> <span class="fa arrow"></span>
        </a>

        <a *ngIf="!isCacheMenu && nav.node.length > 0">
          <i class="{{nav.icon}}"></i> <span class="nav-label">{{nav.display_name}}</span> <span class="fa arrow"></span>
        </a>

        <a *ngIf="!isCacheMenu &&  nav.node.length == 0" (click)="gotoRouterTab(nav.route_path)">
          <i class="{{nav.icon}}"></i> <span class="nav-label">{{nav.display_name}}</span>
        </a>

        <a *ngIf="isCacheMenu &&  nav.admin_permission_node.length == 0" (click)="gotoRouterTab(nav.route_path)">
          <i class="{{nav.icon}}"></i> <span class="nav-label">{{nav.display_name}}</span>
        </a>

        <ul class="nav nav-second-level collapse" *ngIf="!isCacheMenu && nav.node.length > 0">
          <li [ngClass]="{active: activeRoute(nodeChilder.route_path)}"  *ngFor="let nodeChilder of nav.node"><a (click)="gotoRouterTab(nodeChilder.route_path)">{{nodeChilder.display_name}}</a></li>
        </ul>

        <ul class="nav nav-second-level collapse" *ngIf="isCacheMenu && nav.admin_permission_node.length > 0">
          <li [ngClass]="{active: activeRoute(node.route_path)}"  *ngFor="let node of nav.admin_permission_node"><a (click)="gotoRouterTab(node.route_path)">{{node.display_name}}</a></li>
        </ul>

      </li>
    </ul>
  </div>
</nav>
