<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <h1>
          技术人员选拔赛
        </h1>
      </div>
    </div>
  </div>
</div>

