.loading {
  background: #2f4050;
  width: 100%;
  height: 100%;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.bigimg{
  align-items: center;background: rgba(0,0,0,0.5) none repeat scroll !important;bottom: 0;box-sizing: border-box;display: flex;left: 0;position: fixed;right: 0;top: 0;z-index: 2060;  overflow-y: auto;
}

.bigimg img {
  max-width: 80%;
  margin: auto;
}

.loading img {
  margin: auto;
  height: 200px;
  width: 200px;
}

.right-loading {
  align-items: center;
  background: rgba(0,0,0,0.5) none repeat scroll;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: absolute;
  margin-left: -15px;
  margin-top: -61px;
}

.right-loading img {
  margin: auto;
  height: 200px;
  width: 200px;
}
.login-loading{
  align-items: center;
  background: rgba(0,0,0,0.2) none repeat scroll;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
}
.login-loading img {
  margin: auto;
  height: 200px;
  width: 200px;
}
