@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans/opensans-light.eot');
    src: local('Open Sans'), url('fonts/open-sans/opensans-light.eot?#iefix') format('embedded-opentype'), url('fonts/open-sans/opensans-light.ttf') format('truetype'), url('fonts/open-sans/opensans-light.woff2') format('woff2'), url('fonts/open-sans/opensans-light.woff') format('woff'), url('fonts/open-sans/opensans-light.svg#open_sanslight') format('svg');;
    font-weight: normal;
    font-style: normal;
  }
  .form-ibox-title .ibox-tools button {
    margin-top: -3px;
  }
  .input-label {
    margin-bottom: 10px;
  }
  .fileUpload-showimg {
    padding: 5px 0 5px 15px;
  }
  .fileUpload-showimg img {
    width: 50px;
  }
  .table-title {
    padding-left: 15px !important;
  }
  .spl-color {
    color: #CCC;
    font-weight: 400;
  }
  .table-left-label {
    vertical-align: middle;
    font-weight: normal;
    margin-right: 8px;
  }
  .table-left-bottom {
    display: table;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 14px;
  }
  .table-left-select {
    vertical-align: middle;
    font-weight: normal
  }
  .table-left-label-two {
    vertical-align: middle;
    font-weight: normal;
    margin-left: 8px;
  }
  .mymodelscoll {
    overflow-y: auto;
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
  .mymodel {
    display: block !important;
    background: rgba(0, 0, 0, 0.5);
  }
  .table-sort {
    cursor: pointer;
  }
  .empty-row {
    width: 100%;
    height: auto !important;
    font-size: 30px;
    text-align: center !important;
    padding-top: 30px !important;
  }
  .none-gift-label {
    border: none;
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
  }
  .none-gift-btn {
    float: right;
    margin-top: 5px;
  }
  .hr-line-dashed {
    margin: 20px -15px !important;
  }
  .form-text-danger {
    margin-top: 15px;
  }
  .table-vertical {
    /*line-height: 45px;*/
  }
  .ui-autocomplete {
    width: 100% !important;
    zoom: 1;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
  }
  .ui-state-default {
    background: #FFF;
    font-weight: normal;
  }
  .report-dropdown .ui-inputtext {
    font-size: 14px !important;
    color: #68686D;
  }
  .red-label {
    color: #F00;
    margin-right: 8px;
  }
  .ui-autocomplete-items {
    max-height: 200px;
  }
  .modal-body-scalls {
    overflow-y: hidden !important;
  }
  .ui-dropdown-item {
    height: auto !important;
    border-bottom: 1px dashed #E5E6E7 !important;
  }
  .ui-dropdown-item:active {
    border-bottom: 1px dashed #E5E6E7 !important;
  }
  /*.ui-helper-clearfix{*/
  /*width: 100%!important;*/
  /*}*/
  .gift-select {
    display: -webkit-flex;
    align-items: center;
  }
  .ui-state-highlight {
    border-bottom: 1px dashed #1AB394 !important;
  }
  .pagination .active a:hover {
    color: #676A6C !important;
  }
  .user-tel .datatable-body-cell-label:first-child {
    width: 100% !important;
    vertical-align: middle;
    display: block;
  }
  .user-tel .datatable-body-cell-label:first-child .table-btn-div {
    float: right;
    height: 100%;
  }
  .user-tel .datatable-body-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .user-tel .datatable-footer, .user-tel .datatable-footer-inner {
    height: 88px !important;
  }
  .emptyle .empty-row {
    height: 68px !important;
  }
  .svs-tel {
    white-space: nowrap;
    padding-left: 14.4px;
    padding-right: 14.4px;
    border-bottom: 1px solid #E7EAEC;
  }
  .svs-tel:last-child {
    border: none;
  }
  .svs-tel-row {
    border-bottom: 1px solid #E7EAEC;
  }
  .svs-tel-row:last-child {
    border: none;
  }
  .svs-tel-table .datatable-body-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .svs-tel-table .datatable-body-cell-label:first-child {
    width: 100% !important;
    vertical-align: middle;
    display: block;
  }
  .row-group-div {
    border-bottom: 1px solid #E7EAEC;
    padding-right: 14.4px;
    padding-left: 14.4px;
    height: 34px;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  .row-group-div span {
    line-height: 22px;
  }
  .row-group-div:last-child {
    border: none;
    padding-bottom: 0;
    height: 28px;
  }
  .row-group-div:first-child {
    padding-top: 0;
    height: 28px;
  }
  
  .row-group-div-first {
    padding-top: 0 !important;
    height: 28px !important;
  }
  
  /*只有一行電話時，重寫一下樣式*/
  .row-group-div:only-child {
    height: 34px;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  .tel-first-col {
    padding-right: 14.4px;
    padding-left: 14.4px;
  }
  .row-group-div .btn-group {
    height: 22px;
  }
  .row-group-div .btn-group a {
    line-height: 22px;
  }
  
  .user-version-table .ui-datatable-data tr td {
    padding: 5px 0 !important;
  }
  .user-version-table .ui-datatable-data tr td:first-child span {
    line-height: 1.625;
  }
  
  .permission .hr-line-dashed {
    margin-right: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: -20px !important;
  }
  .ui-widget-overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll !important;
  }
  .client-logout-Modal {
    z-index: 2300 !important;
  }
  .client-logout-Modal-dialog {
    z-index: 2301 !important;
    margin: auto;
  }
  .row-group-div-double {
    border-bottom: 1px solid #E7EAEC;
    padding-right: 14.4px;
    padding-left: 14.4px;
    height: 62px !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .row-group-div-double:first-child {
    height: 56px !important;
  }
  
  .row-group-div-double-first {
    height: 56px !important;
  }
  
  .row-group-div-double:last-child {
    padding-bottom: 0px;
    height: 56px !important;
  }
  .row-group-div-double span {
    line-height: 50px;
  }
  .row-group-div-double .double-label {
    line-height: 22px;
  }
  .navbar-default i {
    width: 15px;
  }
  .ngx-datatable .datatable-body .datatable-scroll {
    width: 100% !important;
  }
  .checkbox-label {
    font-weight: normal;
  }
  .page-dropdown .ui-dropdown {
    width: 60px !important;
  }
  .news-editor .w-e-text {
    background: -webkit-gradient(linear, 0 100%, 100% 100%, from(#22012C), to(rgba(113, 39, 103, 1)));
    color: #FFF;
  }
  .news-images-editor .w-e-text {
    background: -webkit-gradient(linear, 0 100%, 100% 100%, from(#22012C), to(rgba(113, 39, 103, 1)));
    min-height: 150px !important;
    max-height: 300px !important;
    color: #FFF;
  }
  .other-editor .w-e-text-container {
    border: 1px solid #E5E6E7;
    /*background: -webkit-gradient(linear, 0 100%, 100% 100%, from(#22012c), to(rgba(113, 39, 103, 1)));*/
    color: #676A6C !important;
  }
  .w-e-droplist {
    padding: 0 10px !important;
    width: 160px !important;
    text-align: left !important;
  }
  .w-e-text-container {
    /*height: 320px!important;*/
  }
  /*.editor-contain{*/
  /*position: relative;*/
  /*}*/
  .w-e-text {
    min-height: 300px;
    max-height: 800px;
  }
  .toolbar {
    /*position: fixed;*/
    /*background-color: #0e9aef;*/
    /*margin:10px 0 0 20px;*/
    border: 1px solid #E7EAEC;
    background-color: #FFF;
    z-index: 120 !important;
  }

  .page-input {
    width: 60px;
    height: 28px;
    padding: 0 5px;
    -webkit-appearance: none;
    font-size: 12px;
  }
  .page-select {
    height: 28px !important;
    padding: 0 5px;
    font-size: 12px;
  }
  .page-input-group {
    margin-left: 15px;
  }
  .page-total-page {
    margin-left: 8px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .route-dropdown {
    line-height: 18px;
    margin-left: 8px;
    display: block;
    float: right;
    margin-top: -2px;
  }
  .breadcrumb-active {
    position: relative;
    transform: translate(0, 0);
    cursor: pointer;
  }
  .menu-dropdown {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    font-size: 12px;
    list-style: none outside none;
    text-shadow: none;
    z-index: 1000;
    position: fixed;
    background-color: #FFF;
    padding: 2px;
    margin-top: 7px;
    text-align: left;
    margin-left: 20px;
    width: 66px;
  }
  .gift-menu-dropdown {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    font-size: 12px;
    list-style: none outside none;
    text-shadow: none;
    z-index: 1000;
    position: fixed;
    background-color: #FFF;
    padding: 2px;
    margin-top: 0;
    text-align: left;
    margin-left: 78px;
    max-height: 160px;
    overflow-y: auto;
  }
  .gift-menu-dropdown li {
    padding: 6px 15px 6px 10px;
    cursor: pointer;
  }
  .gift-drop-small-i {
    line-height: 18px;
    margin-left: 5px;
    display: block;
    float: left;
    margin-top: -2px;
  }
  /*.menu-dropdown li {*/
  /*padding: 6px 5px 6px 5px;*/
  /*cursor: pointer;*/
  /*}*/
  
  .menu-dropdown li a:hover {
    background-color: #F5F5F5;
  }
  .page-button {
    margin-bottom: 0 !important;
    margin-left: -4px;
    height: 28px;
    border-radius: 0 !important;
  }
  /*.page-inut-a{*/
  /*padding: 0 10px;*/
  /*}*/
  /*.page-inut-a:hover,.page-inut-a:focus{*/
  /*background-color: #ffffff!important;*/
  /*padding: 0 10px;*/
  /*}*/
  .gift-drop-small {
    margin-left: 4px !important;
    cursor: pointer;
    float: left;
  }
  .gift-drop-small label span {
    font-weight: normal !important;
  }
  .long-content {
    white-space: pre-line;
  }
  /*弹窗下方按钮间距，作用于包裹button的span*/
  .modal-footer .btn + span {
    margin-left: 5px;
  }
  .gu-mirror {
    position: fixed;
    margin: 0;
    z-index: 9999;
    opacity: 0.8;
  }
  .gu-mirror img {
    width: 60px;
    height: 60px;
  }
  .gu-mirror .img-set-btn {
    display: none
  }
  .gu-mirror .img-set {
    display: none
  }
  .gu-hide {
    display: none;
  }
  .gu-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .gu-transit {
    opacity: 0.2;
  }
  .page-header-content {
    z-index: 40;
  }
  .order .datatable-body-cell {
    padding: 6px 0 !important;
  }
  .order .datatable-body-cell-label {
    width: 100% !important;
  }
  .ui-tooltip-top .ui-tooltip-text {
    border-radius: 2px !important;
    height: 22px !important;
    line-height: 22px !important;
  }
  .order-tooltip .ui-tooltip-text {
    width: 200px !important;
  }
  #wrapper {
    background: #304150;
  }
  .nav-tab-set {
    width: 100%;
    height: 42px;
    background: #FAFAFA;
    border-bottom: solid 2px #30404F;
    position: fixed;
    top: 0;
    z-index: 500;
    color: #999 !important;
  }
  .nav-tab-set button:hover {
    color: #676A6C;
  }
  .layout-tab-content {
    padding: 42px 15px 15px;
  }
  .router-tabs li {
    display: inline-block;
    height: 40px;
    border-right: 1px solid #EEE;
  }
  .long-nav {
    overflow: hidden;
  }
  .router-tabs {
    overflow: hidden;
    width: 9900px;
    height: 40px;
    position: relative;
    z-index: 550;
    margin-left: 40px;
  }
  .router-tabs li a:hover {
    color: #777 !important;
  }
  .router-tabs li a {
    line-height: 40px !important;
    padding: 0 15px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #999 !important;
    display: inherit !important;
  }
  .router-tabs li a i:hover {
    color: #F00;
  }
  .router-tabs .active {
    background: #304150 !important;
    border: none !important;
    color: #999 !important;
  }
  .router-tabs .active :hover {
    background: #2A3946 !important;
    color: #FFF !important;
  }
  .router-tabs .active :focus {
    /*background: #2a3946!important;*/
    color: #999 !important;
  }
  .router-tabs .active a {
    /*background: #2a3946!important;*/
    color: #999 !important;
  }
  .tab-left-btn {
    height: 40px;
    background: #FFF;
    float: left;
    border: none;
    padding: 0 15px;
    border-right: 1px solid #EEE;
    outline: none !important;
    position: fixed;
    z-index: 600;
    border-radius: 0 !important;
  }
  .tab-left-btn-second {
    margin-left: 40px;
    border-left: 1px solid #EEE;
  }
  .tab-left-btn :hover {
    background: #F2F2F2 !important;
  }
  .tab-left-btn :focus {
    outline: none !important;
  }
  .nav-right {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 600;
  }
  .nav-right button {
    height: 40px;
    background: #FFF;
    border: none;
    padding: 0 15px;
    border-left: 1px solid #EEE;
    outline: none !important;
  }
  .long-nav {
    width: 10000px;
    height: 40px;
  }
  .dropdown-menu-tab {
    background: #FFF;
    width: 160px;
    height: 128px;
    padding: 0;
    margin-top: 2px;
  }
  .dropdown-menu-tab li {
    display: inline-block;
    height: 32px;
    width: 158px;
  }
  .dropdown-menu-tab li:first-child {
    margin-top: 8px;
  }
  .dropdown-menu-tab .divider {
    height: 1px;
    background: #E5E5E5;
    margin: 8px 0;
    width: 100%;
  }
  .dropdown-menu-tab li a {
    display: inline-block;
    padding: 3px 20px;
    color: #676A6C;
    line-height: 26px;
  }
  .dropdown-menu-tab li:hover {
    background: #F5F5F5;
  }
  .dropdown-menu-info {
    border-radius: 0 !important;
  }
  .dropdown-menu-info li:hover {
    background: #F5F5F5;
  }
  .ui-select-container:focus {
    border: none;
    outline: none;
  }
  .ui-select-toggle:hover {
    background-color: #FFF;
    border: 1px solid #E5E6E7 !important;
  }
  .ui-select-toggle:focus {
    background-color: #FFF !important;
    border: 1px solid #1AB394 !important;
  }
  .ui-select-match .btn-default:focus {
    background-color: #FFF !important;
  }
  .ui-select-choices-row .active {
    background-color: #1E90FF !important;
  }
  .login-tab .nav-item {
    height: 60px;
    background-color: #F3F3F4 !important;
  }
  .login-tab .nav-item .nav-link {
    padding-top: 22px;
    height: 60px;
  }
  .login-tab .nav-item .nav-link span {
    font-size: 16px;
    font-weight: 400;
  }
  .nav-tabs .active {
    background-color: #FFF !important;
  }
  
  .mytabset .nav-tabs .active {
    background: none !important;
  }
  
  .loginscreen {
    width: 480px;
  }
  .has-error:focus {
    border-color: #F00 !important;
  }
  #wrapper {
    background-color: #2F4050 !important;
  }
  h2 {
    margin: 20px 0 10px 0 !important;
  }
  .ant-cascader-input {
    height: 34px !important;
    border-radius: 0 !important;
    border: 1px solid #E5E6E7 !important;
    font-size: 14px !important;
    padding-left: 12px !important;
    font-weight: 200 !important;
  }
  .ant-cascader-picker-label {
    font-size: 14px !important;
    padding-left: 12px !important;
    font-weight: normal !important;
    color: #5A5A5A !important;
  }
  .ant-cascader-input:hover {
    border: 1px solid #E5E6E7 !important;
  }
  .ant-cascader-input span {
    color: #686B6D !important;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #999 !important;
    font-size: 14px !important;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999 !important;
    font-size: 14px !important;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999 !important;
    font-size: 14px !important;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999 !important;
    font-size: 14px !important;
  }
  .ant-cascader-input:focus {
    outline: none !important;
    border: 1px solid #1AB394 !important;
    box-shadow: none !important;
  }
  .ng-tns-c2-0:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline-color: #FFF !important;
  }
  .ant-cascader-picker:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline-color: #FFF !important;
  }
  /*, */
  /*border: 1px solid #1ab394!important;*/
  /*/*/
  .ant-input:focus {
    outline: none !important;
    border: 1px solid #1AB394 !important;
  }
  .ant-cascader-picker:focus .ant-cascader-input {
    border-color: #1AB394 !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .ant-cascader-menu-item:hover {
    background-color: #1E90FF !important;
    color: #FFF !important;
  }
  .top-right-button {
    text-align: right;
    margin-top: 20px;
  }
  .input-label {
    margin-bottom: 8px;
  }
  .ui-datatable-emptymessage-row {
    text-align: center;
    height: 100px;
    font-size: 30px;
  }
  
  .empty-table .ui-datatable-emptymessage {
    text-align: center;
    height: 100px;
    font-size: 30px;
  }
  .empty-table .ui-datatable {
    padding-bottom: 20px !important;
  }
  
  .ui-datatable-thead tr {
    height: 35px;
    background: #FFF !important;
  }
  .ui-datatable-thead tr th {
    background: #FFF !important;
    text-align: left;
    font-weight: 700 !important;
    color: #757575 !important;
    padding-left: 14.4px !important;
    padding-right: 14.4px !important;
  }
  .ui-datatable-thead .ui-state-active {
    color: #000 !important;
  }
  .ui-datatable-data tr {
    height: 34px;
    color: #676A6C;
  }
  .ui-datatable-data tr td {
    padding: 6px 14.4px 6px 14.4px!important;
    border-color: #E7EAEC !important;
    line-height: 22px!important;
  }
  .expand-table-row thead.ui-datatable-thead {
    border: 0 !important;
  }
  .expand-table-row thead.ui-datatable-thead tr {
    border: 0 !important;
  }
  .expand-table-row thead.ui-datatable-thead tr th {
    border: 0 !important;
  }
  .expand-table-row tbody.ui-datatable-data {
    border: 0 !important;
  }
  .expand-table-row .ui-datatable-data tr.ui-widget-content {
    border: 0 !important;
    border-top: 1px solid #E7EAEC !important;
  }
  .expand-table-row .ui-datatable-data tr.ui-widget-content td {
    border: 0 !important;
  }
  .expand-table-row .ui-datatable-data > tr > td {
    border: 0;
  }
  .expand-table-row .ui-datatable-data > tr:last-child {
    border-bottom: 1px solid #E7EAEC !important;
  }
  .ui-datatable-data .ui-datatable-odd {
    background: #F9F9F9 !important;
  }
  .table-left-label {
    vertical-align: middle;
    font-weight: normal;
    margin-right: 8px;
  }
  .top-tip {
    margin-bottom: 20px;
  }
  .top-tip .ui-messages {
    margin: 0;
  }
  .ui-messages-error {
    background: #F2DEDE;
    color: #A94442;
    border-color: #EBCCD1;
  }
  .ui-messages-success {
    background: #DFF0D9;
    color: #3C763D;
    border-color: #D6E9C6;
    padding-left: 9px;
  }
  .ui-messages-close {
    color: inherit !important;
  }
  .ui-messages .ui-messages-close {
    right: 13px !important;
  }
  .form-content {
    background: #FFF;
    margin: 15px -15px 41px -15px;
    padding-top: 0 !important;
  }
  .form-content-lg-12 {
    padding: 0 30px 0 30px;
  }
  .form-hr-line-dashed {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .text-danger-top {
    margin-top: 15px;
  }
  .red-label {
    color: #F00;
    margin-right: 8px;
    font-weight: 700 !important;
  }
  .ui-autocomplete-input {
    height: 34px;
    background: #FFF !important;
    width: 100%;
    border-color: #E5E6E7 !important;
    padding-left: 10px;
    font-weight: normal !important;
  }
  .ui-inputtext:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .ui-inputtext:focus {
    border-color: #1AB394 !important;
  }
  .ui-corner-all:active {
    border-color: #1AB394 !important;
  }
  .ui-autocomplete {
    width: 100% !important;
  }
  .ui-autocomplete-list .ui-state-highlight {
    background: #1AB394 !important;
    color: #FFF;
  }
  .table-set {
    color: #CCC !important;
    font-weight: 400 !important;
  }
  .table-set a {
    color: #337AB7 !important;
  }
  .table-set a:hover {
    color: #23527C !important;
  }
  .table-set a:focus {
    color: #23527C !important;
  }
  .table-set a:active {
    color: #337AB7 !important;
  }
  .ui-confirmdialog {
    z-index: 2200 !important;
    top: 150px !important;
  }
  .ui-dialog {
    z-index: 2200 !important;
    top: 150px !important;
  }
  .ui-confirmdialog:active {
    border: 1px solid #DDD !important;
  }
  .ui-widget-overlay {
    z-index: 100 !important;
    background: #000 !important;
  }
  .tab-form .tab-content {
    border-left: 1px solid #DDD !important;
    border-bottom: 1px solid #DDD !important;
    border-right: 1px solid #DDD !important;
    margin-top: 0 !important;
  }
  .tab-form .tab-content .tab-pane {
    margin-top: 0 !important;
  }
  .profile-element img {
    width: 48px;
    height: 48px;
  }
  .top-left-nav {
    padding-left: 0px !important;
    /*操作手册按钮需要父元素有一个较大的z-index*/
    z-index: 150;
  }
  .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #1AB394 !important;
  }
  .ui-fileupload-choose:not(.ui-state-disabled):hover, .ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus {
    background: #1AB394 !important;
    border-color: #1AB394;
  }
  .ui-fileupload-choose.ui-state-focus {
    background: #FFF !important;
    border-color: #1AB394;
  }
  .ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #E5E6E7;
    background: #FFF;
  }
  .ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border: 0 none;
    cursor: pointer;
    margin: 1px 0;
    padding: .125em .25em;
    text-align: left;
    height: 28px;
    line-height: 25px;
  }
  .ui-fileupload-content {
    border-color: #E5E6E7 !important;
  }
  .ui-fileupload-buttonbar {
    border-color: #E5E6E7 !important;
  }
  .ui-growl-message-error {
    background: #EB5768 !important;
    border-radius: 4px !important;
  }
  .index-loading {
    background: #F3F3F4;
    width: 100%;
    height: 100%;
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .index-loading img {
    margin: auto;
    height: 200px;
    width: 200px;
  }
  .form-input-label {
    font-weight: 400 !important;
    width: 100px;
  }
  .form-input-label input {
    margin-right: 8px;
  }
  .form-content-tab .nav-tabs {
    margin-left: -15px;
    margin-right: -15px;
  }
  .ui-tree {
    width: 100% !important;
    border: none !important;
  }
  .ui-treenode-children .ui-treenode-leaf {
    float: left;
  }
  .ui-treenode-children {
    display: table !important;
  }
  .ui-treenode {
    padding: 6px 8px !important;
  }
  /*各页面的操作手册按钮END*/
  .list-search-box {
    margin-bottom: 0 !important;
    /* border: 1px border-style color; */
  }
  .ui-datatable .ui-datatable-loading-content {
    top: 48% !important;
  }
  .dropdown-menu-tab {
    border: 1px solid #EEE;
    padding-bottom: 10px;
  }
  .ui-datatable-emptymessage {
    height: 175px !important;
  }
  .ui-dialog-footer-button {
    margin-bottom: 2px !important;
  }
  .list-page-heading {
    padding-bottom: 0 !important;
    height: 35px;
    margin-top: 15px;
    border: none !important;
  }
  .list-page-heading .sm-breadcrumb {
    margin-top: 0;
    line-height: 35px;
    height: 35px;
    padding-left: 5px !important;
  }
  .list-ibox-content {
    padding-bottom: 0 !important;
    padding-top: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-bottom: 40px !important;
  }
  .search-box-pad {
    padding-left: 10px;
    padding-right: 10px;
  }
  .head-right-list-btn {
    margin-right: -10px !important;
    height: 35px !important;
  }
  .head-right-return-btn {
    margin-right: 20px;
    height: 35px !important;
    border-bottom: none !important;
    border-top: none !important;
  }
  .form-tip {
    margin: 15px -15px !important;
  }
  .confirm-button-default {
    background-color: #FFF !important;
    border: 1px solid #D2D2D2 !important;
    color: #676A6C !important;
    border-radius: 3px !important;
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    margin-right: 5px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: none !important;
    background-image: none;
  }
  .confirm-button-default .ui-button-text, .confirm-button-primary .ui-button-text {
    padding: 0 !important;
  }
  .confirm-button-default:hover {
    background-color: #E6E6E6 !important;
    border: 1px solid #D2D2D2 !important;
  }
  .confirm-button-primary {
    background-color: #1AB394 !important;
    border-color: #1AB394 !important;
    color: #FFF !important;
    border-radius: 3px;
    border-radius: 3px !important;
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: none !important;
    background-image: none;
  }
  .confirm-button-primary:hover {
    background-color: #18A689 !important;
    border-color: #18A689 !important;
  }
  .top-tip {
    margin-bottom: 15px !important;
  }
  .role-set-title {
    border-top: none !important;
    border-bottom: 1px solid #E5E6E7 !important;
    padding-top: 0 !important;
    height: auto !important;
    min-height: 30px !important;
    padding-bottom: 20px !important;
    margin-bottom: 5px !important;
  }
  .form-tabset-top {
    padding-top: 0 !important;
  }
  .form-tabset .nav-tabs {
    margin-left: -15px !important;
    margin-right: -15px !important;
    border-bottom: 1px solid #DDD;
  }
  .form-tabset .nav-tabs a {
    padding: 11px 25px !important;
    margin: 0 !important;
    border: none !important;
  }
  .form-tabset > .nav-tabs > li.active a {
    padding: 11px 25px 10px 25px !important;
    margin: 0 !important;
    border: none !important;
  }
  .form-tabset tabset .nav-tabs a {
    padding: 7px 30px !important;
  }
  .form-tabset .nav-tabs a:hover {
    border-radius: 0 !important;
    background-color: #E6E6E6 !important;
  }
  .form-tabset .nav-tabs li.active a:hover {
    border-radius: 0 !important;
    background-color: #FFF !important;
  }
  .form-tabset > .nav-tabs > li.active {
    border-bottom: 2px solid #314351 !important;
  }
  .form-tabset tabset > .nav-tabs {
    border-bottom: 1px solid #DDD !important;
  }
  .form-tabset tabset > .nav-tabs > li.active {
    border: 1px solid #DDD !important;
    border-bottom: none !important;
  }
  .form-tabset .nav-tabs a > span {
    font-weight: lighter !important;
    color: #878A8E !important;
  }
  .form-tabset .nav-tabs a.active > span {
    font-weight: normal !important;
    color: #575A5E !important;
  }
  
  .no-bg .nav-tabs .active {
    background-color: transparent !important;
  }
  .no-bg .nav-tabs li.active a:hover {
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  
  #side-menu li i {
    width: 13px !important;
  }
  .modal-body-scalls {
    overflow-y: hidden !important;
  }
  div.ui-dialog-content {
    height: auto !important;
  }
  .form-label-tip {
    margin-left: 15px;
    font-size: 10px;
  }
  .bigimg {
    align-items: center;
    background: rgba(0, 0, 0, 0.5) none repeat scroll !important;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2060;
    overflow-y: auto;
  }
  .bigimg img {
    max-width: 80%;
    margin: auto;
  }
  .modal-body-scalls {
    overflow-y: hidden !important;
  }
  table a {
    color: #337AB7 !important;
  }
  .list-search-box .ibox-content {
    padding-bottom: 0 !important;
  }
  .alert-dismissable {
    border-radius: 0;
  }
  .wrapper-content {
    padding: 15px 0 0 0;
  }
  .list-search-box {
    margin-bottom: 0 !important;
    /* border: 1px border-style color; */
  }
  .list-search-box .search-form-group {
    margin-bottom: 6px !important;
    margin-top: 6px !important;
  }
  .list-search-box .ibox-content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 20px;
  }
  /*用户手册面包屑右侧三角形*/
  i.route-dropdown {
    line-height: inherit;
    margin-left: 8px;
    display: block;
    float: right;
    margin-top: -2px;
    cursor: pointer;
  }
  /*各页面的操作手册按钮BEGIN*/
  ul.menu-dropdown {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    font-size: 12px;
    list-style: none outside none;
    text-shadow: none;
    z-index: 150;
    position: absolute;
    background-color: #FFF;
    padding: 2px;
    margin-top: 1px;
    text-align: left;
    margin-left: 17px;
    width: auto;
    line-height: 18px;
  }
  .menu-dropdown li {
    padding: 4px 5px;
    cursor: pointer;
  }
  .menu-dropdown li:hover {
    background-color: #F5F5F5;
  }
  .menu-dropdown li a {
    color: #676A6C !important;
  }
  .head-right-button {
    border-radius: 0 !important;
  }
  .head-right-list-btn {
    margin-right: -10px !important;
    height: 35px !important;
  }
  .head-right-return-btn {
    margin-right: 20px;
    height: 35px !important;
    border-bottom: none !important;
    border-top: none !important;
  }
  .form-tabset-padding .nav-tabs {
    margin: 0 0 !important;
  }
  .nav-tab-set button {
    border-radius: 0 !important;
  }
  .group-table .ui-datatable-data tr td {
    padding: 0 !important;
  }
  /*user-report中表頭控件樣式BEGIN*/
  .pridata .ui-calendar {
    width: 100%;
    height: 34px;
    float: right;
    display: inline-block;
  }
  .pridata .ui-calendar input {
    background-color: #FFF;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    display: block;
    padding: 6px 12px;
    height: 34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    color: #68686D;
  }
  .pridata .ui-calendar input:focus {
    box-shadow: none;
    border: 1px solid #1AB394;
  }
  .pridata .ui-calendar input:hover {
    box-shadow: none;
    border: 1px solid #E5E6E7;
  }
  .user-report-dropdown .ui-dropdown {
    width: 100% !important;
    padding: 6px 12px;
    height: 34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-weight: normal;
    color: #68686D !important;
    border: 1px solid #E5E6E7;
    background: #FFF !important;
  }
  .ui-inputtext {
    background: #FFF;
    color: #68686D;
  }
  .ui-dropdown-filter-container {
    position: relative;
    margin: 0;
    padding: .4em;
    display: inline-block;
    width: 100%;
    height: 30px;
  }
  .ui-state-focus {
    box-shadow: none !important;
  }
  .ui-dropdown:focus {
    border: 1px solid #1AB394;
  }
  .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #1AB394 !important;
  }
  .ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #E5E6E7;
    background: #FFF;
  }
  .ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border: 0 none;
    cursor: pointer;
    margin: 1px 0;
    padding: .125em .25em;
    text-align: left;
    height: 28px;
    line-height: 25px;
  }
  .ui-dropdown .ui-dropdown-trigger .fa {
    margin-top: 0.8em;
    margin-left: -.125em;
  }
  .ui-inputtext:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .ui-widget-header .ui-button:focus, .ui-widget-header .ui-button:hover, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus {
    border: 1px solid #1AB394 !important;
    background: #1AB394 !important;
    outline: 0 none;
    color: #FFF;
  }
  .ui-inputtext:focus {
    border-color: #1AB394 !important;
  }
  .ui-corner-all:active {
    border-color: #1AB394 !important;
  }
  /*user-report中表頭控件樣式END*/
  /*user-list的表格需要重写全局padding*/
  .user-list-table .ui-datatable-data tr td {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-color: #E7EAEC !important;
  }
  .user-list-table table a.text-muted {
    color: #888 !important;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #676A6C !important;
  }
  .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
    color: #FFF !important;
  }
  .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
    color: #212121 !important;
  }
  
  .flex-status {
    display: flex;
    align-items: center;
  }
  .service-tel-table .ui-datatable-data tr td {
    padding: 0 !important;
  }
  .form-drop .ui-dropdown {
    width: 100%!important;
    padding: 6px 12px;
    height: 34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-weight: normal;
    color: #68686D!important;
    border: 1px solid #e5e6e7;
    background: #fff!important;
  }
  .form-drop .ui-dropdown .ui-dropdown-trigger .fa {
    margin-top: 0.8em;
    margin-left: -.125em;
  }
  .form-drop .ui-inputtext {
    background: #ffffff;
    color: #68686D;
  }
  .table-cell-multiline {
    padding: 4px 0 ;
  }
  .table-cell-multiline .inner-table-cell-multiline{
    line-height: 22px;
  }
  .select-table .ui-state-highlight:nth-child(2n+1){
    background: transparent!important;
  }
  .select-table .ui-state-highlight{
    color: #676A6C!important;
  }
  .select-table .ui-chkbox-box.ui-state-active{
    background: #ffffff!important;
  }
  .ui-dropdown {
    width: 100%!important;
    padding: 6px 12px;
    height: 34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-weight: normal;
    color: #68686D!important;
    border: 1px solid #e5e6e7;
    background: #fff!important;
  }
  .ui-inputtext {
    background: #ffffff;
    color: #68686D;
  }
  .ui-dropdown-filter-container {
    position: relative;
    margin: 0;
    padding: .4em;
    display: inline-block;
    width: 100%;
    height: 30px;
  }
  .ui-dropdown:focus{
    border: 1px solid #1ab394;
  }
  .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #1ab394!important;
  }
  .ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #e5e6e7;
    background: #ffffff;
  }
  .ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border: 0 none;
    cursor: pointer;
    margin: 1px 0;
    padding: .125em .25em;
    text-align: left;
    height: 28px;
    line-height: 25px;
  }
  .ui-dropdown .ui-dropdown-trigger .fa {
    margin-top: 0.8em;
    margin-left: -.125em;
  }
  .extand-table-detail th{
    text-align: left!important;
    padding-left: 14.4px!important;
  }
  .ui-selectbutton .ui-button.ui-state-active {
    color: #fff !important;
  }
  .btn-span-height span {
    line-height: 19px !important;
  }
  .sm-breadcrumb .active {
    cursor: pointer!important;
  }
.ui-growl .ui-growl-message-error {
  background-color: #F00 !important;
}
.ui-growl .ui-state-highlight {
  border-bottom: none!important;
}