<!-- Wrapper-->
<div id="wrapper" *ngIf="navRefresh">

  <p-growl [(value)]="tabMsg"></p-growl>

  <!-- Left navigation bar -->
  <app-navigation></app-navigation>

  <!-- Main page wrapper -->
  <div id="page-wrapper" class="gray-bg" style="padding: 0">

    <!-- Top navigation -->
    <!--<topnavbar></topnavbar>-->
    <app-tabset [(selected)]="selectedPage" (delPageList)="delPageList($event)"
              (closeAllTab)="closeAllTab()" (closeOtherTab)="closeOtherTab($event)">
      <app-tab-item *ngFor="let p of pageListService.pageList" [header]="p.header" [comp]="p.comp" [name]="p.name">
      </app-tab-item>
    </app-tabset>


    <!-- Main view/routes wrapper-->
    <!--<router-outlet></router-outlet>-->

    <!-- Footer -->
    <app-footer></app-footer>

  </div>
  <!-- End page wrapper-->

</div>
<!-- End wrapper-->